
.Dashboard-stats{
    padding: 0.6vmax 0;
    display: grid;
    grid-template-columns: 1fr 20%;
}


.first > div {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
}

.first a {
    text-decoration: none;
}

.first > div:first-child > div {
    background-color: white;
    border-radius: 10px;
    padding: 1vmax 1.7vmax;
    width: 30%;
    margin: 0 0.3vmax;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);

}

.first > div:first-child > div > p:first-child{
    font-weight: bold;
    margin: 0;
    font-size: 1.1vmax;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.first > div:first-child > div > p:first-child > svg{
    color: rgb(227, 126, 56);
    font-size: 1.2vmax;
    padding: 5px;
    border-radius: 100%;
    background-color: rgba(227, 126, 56, 0.3);
}

.price{
    font: bold 1.6vmax arial;
    margin: 0;
}

.first > div:first-child > div > p:last-child{
    color: rgb(70, 172, 70);
    font: 300 0.9vmax cursive;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.timeline{
    margin-left: 0.4vmax;
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.7vmax;
}

.second{
    padding: 1vmax;
    background-color: white;
    border-radius: 10px;
    margin-right: 1rem;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);

}

.second > div{
    margin: 0.2rem 0 1.5rem 0;
}

.second > div > p{
    font-weight: bold;
    font-size: 1.1vmax;
}

.charts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.6rem 0;
}
.doughnut{
    width: 18vmax;
    margin: auto;
    padding: 0.6rem 2.5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
}


.line{
    padding: 0.6rem 1.5rem;
    width: 30vmax;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
}

.line:hover, .doughnut:hover, .bar:hover{
    cursor: pointer;
}

.bar{
    padding: 0.6rem 3.5rem;
    width: 36vmax;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
}



.css-2s90m6-MuiAvatar-root{
    background-color: rgba(60, 60, 60, 0.8) !important;
}

.css-2s90m6-MuiAvatar-root svg{
    font-size: 2vmax !important;
}

.css-10hburv-MuiTypography-root{
    font-weight: bold !important;
    font-size: 0.8vmax !important;
    line-height: 1 !important;
}

.css-1e9lk82-MuiListItemAvatar-root{
    min-width: 50px !important;
}

@media screen and (max-width:768px) {
    .Dashboard-stats{
        display: flex;
        flex-direction: column;
        padding: 0.7vmax 1.6vmax;
        align-items: center;
    }
    .second{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    .charts{
        width: 100%;
        display: flex;
    }
    .doughnut, .line, .bar{
        padding: 1vmax;
        width: auto;
        height: auto;
        margin: 1vmax;
        background-color: white;
        border-radius: 10px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
    }
    .line:hover, .doughnut:hover, .bar:hover{
        cursor: pointer;
    }
    
}

@media screen and (max-width:425px) {
    .charts{
        display: flex;
        flex-direction: column;
    }
}