.Toastify__toast-theme--dark{
    background-color: rgb(60, 60, 60) !important;
    color: rgb(238, 238, 238, 0.5) !important;
}

.Toastify__toast{
    min-height: 3vmax !important;
}

.successIcon{
    color: #28bd16 !important;
}

.errorIcon{
    color: #e4473c !important;
}