.banner {
  max-width: 1460px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.6);
  /* color: white; */
}

.banner > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner > div:first-child > img {
  height: 10vmax;
  width: auto;
}

.banner > div:first-child > p {
  font: 300 1.4vmax "Verdana";
}
.banner > div:first-child > h1 {
  font: 600 2vmax "Fantasy";
  letter-spacing: 0.15em;
}
.banner > div:first-child > span {
  margin-bottom: 0.3vmax;
  font: 300 1vmax "Verdana";
  color: rgba(0, 0, 0, 0.6);
}

.banner > div:first-child > a > button {
  padding: 10px 20px;
  border-radius: 50px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: #342260;
  color: white;
  margin-top: 20px;
  font: 300 1rem "Verdana";
  cursor: pointer;
  transition: all 0.5s ease;
}

.banner > div:first-child > a> button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.banner > div:last-child > img {
  height: 700px;
  transition: all 0.5s ease;
}

#container {
  max-width: 1460px;
  margin: auto;
}

/* Main Working */

.plansHeading {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.3px;
  font: 300 1.4vmax "Fantasy";
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
}

.carousal {
  padding: 2%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.01);
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.carousal-items {
  display: grid;
  grid-template-columns: 1fr 1fr;

  align-items: center;
}

.carousal-details {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  padding: 0 1vmax;
}

.carousal-details > h2 {
  font: 600 1.8vmax "Fantasy";
  letter-spacing: 0.1em;
  margin-bottom: 0.4vmax;
}

.carousal-details > span {
  font: 300 1.2vmax "Verdana";
}

.carousal-details > p {
  margin-top: 2vmax;
  font: 300 1vmax "Verdana";
}

.carousal-details > ul {
  padding: 0%;
}

.carousal-details > ul > li {
  font-size: 1vmax;
  margin-bottom: 1rem;
  list-style: none;
  background: url("../../../public//ulIcon.png") no-repeat left center;
  padding: 0px 0 3px 24px;
  background-size: 1vmax;
}

.carousal-img > img {
  width: 100%;
  height: auto;
  filter: drop-shadow(16px 9px 6px rgba(0, 0, 0, 0.25));

}

.partners-logo {
  display: flex;
  flex-direction: column;
}

.partners-logo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partners-logo > div > img {
  width: 5vmax;
  height: auto;
  margin: 1vmax;
}

.cards-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cards-cont > div {
  width: 28%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.05),
    rgb(227, 126, 56, 0.2)
  );
  border-radius: 10px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.cards-cont > div > p:first-child {
  font: 300 2em "Fantasy";
  letter-spacing: 2px;
}

.cards-cont > div > p:last-child {
  font: 300 1.5em Arial;
}

@media screen and (max-width: 600px) {
  .banner {
    padding: 15px;
    height: 60vh;
  }

  .banner > div:first-child > h1 {
    font-size: 2em;
    width: 80%;
    line-height: 130%;
  }

  .banner > div:first-child > p {
    font-size: small;
  }
  .banner > div:first-child > h1 {
    font-size: x-large;
  }
  .banner > div:first-child > span {
    font-size: small;
  }

  .banner > div:first-child > a > button {
    font-size: small;
  }

  .banner > div:last-child > img {
    display: none;
  }

  .carousal-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .carousal-details {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  #container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cards-cont > div {
    padding: 10px;
  }

  .cards-cont > div > p:first-child {
    font-size: x-large;
  }

  .cards-cont > div > p:last-child {
    margin-top: 0px;
    font-size: large;
  }
  .plansHeading {
    font-size: x-large;
  }
}

@media screen and (max-width: 1500px) and (min-width: 600px) {
  #container {
    padding: 30px;
  }

  .banner {
    padding: 30px;
    height: 60vh;
  }

  .banner > div:first-child > h1 {
    font-size: 2em;
    width: 80%;
    line-height: 130%;
  }

  .banner > div:first-child > p {
    font-size: small;
  }
  .banner > div:first-child > h1 {
    font-size: x-large;
  }
  .banner > div:first-child > span {
    font-size: small;
  }

  .banner > div:first-child>a > button {
    font-size: small;
  }

  .banner > div:last-child > img {
    height: 40vmax;
  }

  .cards-cont > div {
    padding: 10px;
  }
  .cards-cont > div > p:first-child {
    font-size: x-large;
  }
  .cards-cont > div > p:last-child {
    font-size: large;
  }

  .plansHeading {
    font-size: x-large;
  }
}

@media screen and (max-width: 1024px) and (min-width: 900px) {
}
