.Footer {
  
  padding: 20px 0px;
  margin-top: 100px;
  background-color: rgba(0, 0, 0, 0.8);
}

.Footer > div{
  max-width: 1460px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links > p {
  color: white;
  font: 300 1vmax "Verdana";
  letter-spacing: 0.1vmax;
  padding-bottom: 1vmax;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.links > a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font: 300 1vmax "Verdana";
  margin-bottom: 0.3vmax;
  transition: all 0.5s ease;
}

.links > a:hover {
  color: #e37e38;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo > img {
  width: 10vmax;
}

.footer-logo > p {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font: 300 1vmax "Lucida Sans";
}

.footer-logo > p > svg {
  font-size: 1vmax;
}




@media screen and (max-width: 600px) {
  
  .Footer > div{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2rem;
  }


  
}

@media screen and (max-width: 1460px) and (min-width:600px) {
  .Footer>div{
    padding: 30px;
  }
}