.table-container{
    height: 91vh;
    background-color: white;
}

.user-stats-container{
    padding: 1.6vmax;
}

.graph-container{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 4vmax;
    display: flex !important;
    flex-direction: column;
    padding-bottom: 20px;
}
.graph-container > div:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.graph-container> div> button{
    background-color: #e37e38;
    color: white;
    border: none;
    outline: none;
    padding: 0 1.6vmax;
    font: 300 0.9vmax arial;
    border-radius: 5px;
    margin-left: 1vmax;
    transition: all 0.5s ease;
}

.graph-container> div> button:hover:enabled{
    background-color: #a74f11;
    cursor: pointer;
}


.user-details-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.user-details-container span{
    font: bold 1em arial;
    color: rgba(0, 0, 0, 0.7);
}

.user-details-container > div{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 10vmax 1fr;
}

.addressBook{
    display: flex !important;
    flex-direction: column !important;
    margin-top: 30px;
}

.addressBook > span:first-child{
    font: bold 1.1em arial !important;
    margin-bottom: 10px;
}

.addressBook > ol{
    padding-inline: 20px;
    margin-inline: 0px;
    margin-block: 0px;
    color: rgba(0, 0, 0, 0.7) !important;
}


.addressContainer > span{
    display: block;
    font: 300 0.9em arial !important;
    margin-bottom: 5px;
    padding-left: 10px;
}




@media screen and (max-width: 768px) {
    
    .user-stats-container{
        padding: 0;
    }
}

